* {
    margin: 0;
    padding: 0;
}

#ww_page {
    overflow: hidden;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#ww_box{
    width: 300px;
    height: 300px;
}
#ww_rotate {
    position: relative;
    margin: 0 auto;
    width: 100%;
    height: 100%;
}

#ww_plate {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(./assets/rotary_bg.png) center no-repeat;
    background-size: contain;
    transition: none;
}

#ww_arrow {
    position: absolute;
    top: 26%;
    left: 35%;
    z-index: 10;
    width: 30%;
    height: 40%;
    background: url(./assets/rotary_arrow.png) center no-repeat ;
    background-size: contain;
}