<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>React Test</title>
  <meta name="viewport" content="initial-scale=1, maximum-scale=1">
  <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/static/antdstyle/antd.min.css" rel="stylesheet">
  {% for (var css in o.htmlWebpackPlugin.files.css) { %}
  <link href="{%=o.htmlWebpackPlugin.files.css[css] %}" rel="stylesheet">
  {% } %}
</head>
<body>

  <div id="app"></div>

<script src="/static/jquery.min.js"></script>
<script src="/static/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=VRh24alNeWQaQbNVYHZueaVe"></script>
<script type="text/javascript" src="http://webapi.amap.com/maps?v=1.3&key=eaecbad0feae43f1c7627c8764727e38"></script>
<!-- <script src="/static/baidu.map.js"></script> -->
{% for (var chunk in o.htmlWebpackPlugin.files.chunks) { %}
<script src="{%=o.htmlWebpackPlugin.files.chunks[chunk].entry %}"></script>
{% } %}
</body>
</html>
